<section class="page-title dark-bg page-bg">
  <div class="overlay" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>About Us</h2>
        <div class="line"></div>
        <p>play html5 games on your browser</p>
      </div>
    </div>
  </div>
</section>

<section class="content-block default-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 vspace-xs">

      </div>
      <div class="col-sm-6 col-md-6 vspace-xs">
        <h4 class="no-margin-t">Marbles</h4>
        <p><span class="dropcap">M</span>arbles, is a platform for
          playing HTML5 games. It requires no registration; you don't
          need to create an account to play. It requires no plugins
          (e.g. Flash or Java) and can be run from any modern web
          browser.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="content-block page-bg">
  <div class="overlay tint" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>contact</h2>
        <div class="line"></div>
      </div>

      <div class="contact-form home-contact">
        <div class="clearfix">
          <div class="pull-right col">
            <form class="form-horizontal" {{action "submitFeedback" on="submit"}}>
              
              {{input type="text" name="email" value=email class="form-control" placeholder="Email Address"}}
              {{input type="text" name="subject" value=subject class="form-control" placeholder="Subject"}}
              {{textarea name="message" value=message class="form-control" placeholder="Your message.."}}
              <button class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
