<section class="page-title dark-bg page-bg">
  <div class="overlay">
    <div class="container">
      <div class="error-info clearfix">
        <div class="pull-left">
          <h1>404!</h1>
        </div>

        <div class="pull-right">
          <h4>requested page not found.</h4>
          <p></p>
          {{#link-to "index" class="btn btn-primary pull-left"}}
            <i class="fa fa-home"></i>
            back home
          {{/link-to}}
          {{#link-to "games" class="btn btn-primary pull-right"}}
            <i class="fa fa-bars"></i>
            games
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</section>
