<section class="page-title dark-bg page-bg">
  <div class="overlay" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>Lose your marbles</h2>
        <div class="line"></div>
        <p>play html5 games on your browser</p>
      </div>
    </div>
  </div>
</section>

<section class="content-block default-bg">
  <div class="container">
    <div class="section-title">
      <h2 >Play Now</h2>
      <div class="line color-6-bg"></div>
      <p>Lose Your Marbles</p>
    </div>
    <div class="service-box no-border tts-1">
      <button class="btn btn-lg btn-primary">
        {{#link-to "play" "lym" class="btn"}}Play{{/link-to}}
      </button>
    </div>
  </div>
</section>
