<section class="page-title dark-bg page-bg">
  <div class="overlay" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>Lose your marbles</h2>
        <div class="line"></div>
        <p>play html5 games on your browser</p>
      </div>
    </div>
  </div>
</section>

<section class="content-block default-bg">
  <div class="container">
    <div class="service-box no-border tts-1">
      <h4 class="u-case">lose your marbles</h4>
      <button class="btn btn-secondary">
        {{#link-to "play" "lym" class="btn"}}Play{{/link-to}}
      </button>
    </div>
  </div>
</section>
