<section class="page-title dark-bg page-bg landing">
  <div class="overlay">
    <div class="container">
      <div class="section-title">
        <h2>A fun and easy way to play games</h2>
        <div class="line"></div>
        <p>Play HTML5 games on your browser for free</p>
      </div>
    </div>
  </div>
</section>

{{#each featuredGames }}

<section class="content-block default-bg">
  <div class="container">
    <div class="section-title">
      <h2 >Play Now</h2>
      <div class="line color-6-bg"></div>
      <p>{{name}}</p>
    </div>
    <div class="service-box no-border tts-1">
      {{#link-to "play" this.id class="btn btn-lg btn-primary"}}&nbsp;Play&nbsp;{{/link-to}}
    </div>
  </div>
</section>

{{/each}}
