section.landing.page-title {
    .overlay {
        background: rgba($color-2, 0.4);
        min-height: 50%;
    }
}

section.landing {
    .section-title {
        h2 {
            text-transform: none;
            font: 52px 'Open Sans Web', 'sans serif';
        }

        p {
            text-transform: none;
            font-size: 25px;
        }
    }
}

section.page-title {
    .overlay {
        background: rgba($color-2, 0.5);
    }
}