section.play-game.is-playing {
    background: #000;
}

.game-wrap {
    position: relative;
    padding: 30px 0;
    margin: auto;
    width: 90%;
    max-width: 1100px;

    .game-container {
        min-height: 600px;
    }
    
    .game-placeholder-wrap {
        padding-top: 56.2%;
    }
    
    .game-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        cursor: pointer;
        
        .gc {
            width: 98%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .game-placeholder:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }    


    .game-play-ic {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -192px;
        margin-top: -192px;
        font-size: 180px;
    }

    .game-area {
        position: relative;
        
        canvas {
            margin: 0 auto;
        }
    }
    .game-actions {
        position: absolute;
        right: -58px;
        top: 30px;
        width: 48px;

        a {
            border-radius: 50%;
            display: inline-block;
            width: 48px;
            height: 48px;
            padding-top: 10px;
            text-align: center;
            margin-bottom: 10px;
        }

        a i:hover {
            transform: scale(1.1);
        }
    }
}


.event-game-title {
    font-size: 120px;
    line-height: 1.1;
}