/* override icon-font-path value for bootstrap */
$icon-font-path: "../fonts/";

//bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
//endbower

//bower:css
// currently cannot import css files with gulp-sass
//@import "font-awesome/css/font-awesome.css";
@import "font-awesome/scss/font-awesome.scss";
//endbower

// wrapdeluxe variables
// add !default to the variable in wrapdeluxe/_variables.scss
$is-boxed: false;
$header-fixed: false;
$page-title-pad-y: 50px;
$cont-pad: 70px;
$page-bg: "../images/backgrounds/stock-ambient1.jpg";
@import "../vendor/wrapdeluxe/Templates/sass/default.scss";

@import "reset";
@import "pages/home";
@import "pages/play";
@import "layout/footer";
@import "layout/header";