<section class="page-title dark-bg page-bg">
  <div class="overlay" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>Play</h2>
        <div class="line"></div>
        <p>play html5 games on your browser</p>
      </div>
    </div>
  </div>
</section>

<section id="play-game" class="content-block default-bg play-game">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <div class="game-wrap">
          <div id="game-area" class="game-area"></div>
          <div class="game-actions">
            <a data-toggle="tooltip" title="Fullscreen" {{action 'fullscreen'}}>
              <i class="fa fa-square-o fa-4x fa-inverse"></i>
            </a>
            <a data-toggle="tooltip" title="Volume" {{action 'setVolume'}}>
              <i class="fa fa-headphones fa-4x fa-inverse"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
